@font-face {
  font-family: 'Allema-Free-Demo-1';
  src: url('./assets/font/Allema-Free-Demo-1.otf') format('truetype');
}
body {
  font-size: 20px;
}
.search-text {
  display: flex;
  font-size: 20px;
  color: yellowgreen;
  font-family: 'Allema-Free-Demo-1';
  img {
    border: 2px solid #ddd;
  }
}